/Address.groovy.bak
/Conversation.groovy.bak
/Department.groovy.bak
/Exam.groovy.bak
/ExamResult.groovy.bak
/ExamSchedule.groovy.bak
/ExamSyllabus.groovy.bak
/Grade.groovy.bak
/Homework.groovy.bak
/School.groovy.bak
/SchoolClass.groovy.bak
/Student.groovy.bak
/Subject.groovy.bak
/Success.groovy.bak
/TimeTable.groovy.bak
